In [1]:
# print 0 to 20 by using range

In [5]:
for val in range(0,20):
    print(val)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20

In [8]:
for val in range(10,20):
    print(val, end=" ")

10 11 12 13 14 15 16 17 18 19

In [9]:
# Print number of items in the list by using 'len'

In [12]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("Number of item in the List2:",len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [16]:
lists="Artificial Intelligence"
print(lists)
for alp in lists:
    print(alp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
###

In [18]:
name=input("Your Name-")
age=int(input("Your Age-"))
job=input("Your Profession-")
print(name)
print(age)
print(job)

Your Name-lilly
Your Age-40
Your Profession-test engineer
lilly
40
test engineer

In [19]:
# Print yhis mixered datatype using Tuples

In [25]:
#creating tuples
lists=(1, 'Welcome', 2, 'Hope')
print("Value of list")
print(lists)

Value of list
(1, 'Welcome', 2, 'Hope')

In [24]:
#tuples
Tuple1 = (0, 1, 2, 3)
Tuple2=('python', 'HOPE')
print("Tuple using List: ")
print((Tuple1,Tuple2))

Tuple using List:
((0, 1, 2, 3), ('python', 'HOPE'))

In [37]:
 # print Odd Numbers in the list
    
num=[20,10,16,19,25,1,276,188]
for i in num:
    if (i%2==1):
        print(i,"is odd number")

19 is odd number
25 is odd number
1 is odd number

In [40]:
# print Even numbers in the list
num=[20,10,16,19,25,1,276,188]
for i in num:
    if (i%2==0):
        print(i,"is Even Number")

20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number